<!DOCTYPE html>
<html lang="en">

<%- include("partials/header.ejs") %>

    <body>
        <%- include("partials/navbar.ejs") %>
            <div class="container">
                <% pergunta.forEach(pergunta=> { %>

                    <div class="card">
                        <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                        <div class="card-body">
                            <h4 class="card-title">
                                <%= pergunta.titulo %>
                            </h4>
                            <p class="card-text">
                                <%= pergunta.descricao %>
                            </p>
                        </div>
                    </div>

                    <p>

                    </p>


                    <% }) %>
            </div>
    </body>
    <%- include("partials/footer.ejs") %>