<!DOCTYPE html>
<html lang="en">

<%- include("partials/header.ejs") %>

    <body>
        <%- include("partials/navbar.ejs") %>
            <div class="container">
                <hr>
                <h1>Perguntas</h1>
                <hr>
                <a href="/perguntar" class="btn btn-dark">Perguntar</a>
                <hr>
                <% pergunta.forEach(pergunta=> { %>
                    <br>
                    <div class="card">
                        <!-- <img class="card-img-top" src="holder.js/100x180/" alt=""> -->
                        <div class="card-body">
                            <h4 class="card-title">
                                <%= pergunta.titulo %>
                            </h4>
                            <p class="card-text">
                                <%= pergunta.descricao %>
                            </p>
                        </div>
                        <div class="card-footer">
                            <div class="col-md-12 bg-light text-right">
                                <a href="/pergunta/<%= pergunta.id %>"><button type="button"
                                        class="btn btn-dark">Responder</button></a>
                            </div>

                        </div>
                    </div>

                    <p>

                    </p>


                    <% }) %>
            </div>
    </body>
    <%- include("partials/footer.ejs") %>